version: 2

registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{ secrets.READER_TOKEN }}
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "09:00"
    ignore:
      - dependency-name: "@types/node"
        versions:
          - "25"
    cooldown:
      default-days: 4
    open-pull-requests-limit: 20
    registries: "*"
    groups:
      react:
        patterns:
          - "react"
          - "@types/react"
          - "react-dom"
          - "@types/react-dom"
      babel:
        patterns:
          - "@babel/*"
      aksel:
        patterns:
          - "@navikt/aksel-icons"
          - "@navikt/ds-css"
          - "@navikt/ds-react"
      familie:
        patterns:
          - "@navikt/familie-*"
      tanstack:
        patterns:
          - "@tanstack/*"
      sentry:
        patterns:
          - "@sentry/*"
      testing-library:
        patterns:
          - "@testing-library/*"
      landvelger:
        patterns:
          - "@navikt/landvelger"
          - "@navikt/land-verktoy"
          - "@navikt/flagg-ikoner"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
          - "eslint-*"
          - "@types/eslint*"
          - "typescript-eslint"
          - "@typescript-eslint/*"
          - "globals"
      vitest:
        patterns:
          - "vitest"
          - "jsdom"
      vite:
        patterns:
          - "vite"
          - "@vitejs/plugin-react"
      express:
        patterns:
          - "express"
          - "@types/express"
      classnames:
        patterns:
          - "classnames"
          - "@types/classnames"
      deep_equal:
        patterns:
          - "deep-equal"
          - "@types/deep-equal"
      react_router:
        patterns:
          - "react-router"
          - "@types/react-router"
      uuid:
        patterns:
          - "uuid"
          - "@types/uuid"
      types:
        patterns:
          - "@types/*"
      patch-updates:
        update-types:
          - patch
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 4
