.litenIkon {
    height: 24px;
    width: 24px;
}

.storIkon {
    height: 32px;
    width: 32px;
}

.mannlig {
    g {
        fill: var(--a-blue-400);
    }
}

.kvinnelig {
    g {
        fill: var(--a-purple-400);
    }
}

.adresseBeskyttet {
    g {
        fill: var(--a-orange-600);
    }
}

.nøytralAdresseBeskyttet {
    path {
        &:first-of-type {
            fill: var(--a-orange-600);
        }
    }
}

.navLogo {
    path {
        fill: var(--a-white);
    }

    margin: auto;
    height: 100%;
    width: 100%;
}

.ansattIkon {
    border-radius: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 24px;
    min-width: 24px;
    max-height: 24px;
    max-width: 24px;
}

.ansattStorIkon {
    min-height: 32px;
    min-width: 32px;
    max-height: 32px;
    max-width: 32px;
}

.ansattMannlig {
    background-color: var(--a-blue-400);
}

.ansattKvinnelig {
    background-color: var(--a-purple-400);
}

.ansattAdresseBeskyttet {
    background-color: var(--a-orange-600);
}
