.fieldset {
    margin-top: 4rem;
    width: 90%;
    max-width: 40rem;
}

.fritekstVarsel {
    & > label {
        width: 100%;
    }
}

.brevmottakereAlert {
    margin: var(--ax-space-16) var(--ax-space-0) var(--ax-space-48) var(--ax-space-32);
}
