.textarea {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    flex: auto;
}

.freetext {
    flex: auto;
}

.removeButton {
    align-self: center;
    height: fit-content;
}

.addButton {
    justify-content: flex-start;
}

.textField {
    width: fit-content;
}

.documentsCombobox {
    label {
        width: 100%;
    }
}
